body {
    background-color: black;
   font-family: Arial, Helvetica, sans-serif;
    color: white;

    
}

* {

    margin: 0px auto;
    padding: 0px auto;

}

.Wrapper {
    width: 200px;
    display: block;
 
}