body {
    width: 1000px;
    height:1000px;
    color: black;
    
    ;
    
}

* {
    margin: 0px auto;
    padding: 0px auto;
    border: 1px black;
    

}

.container  { 
    width:1000px;
    height:1500px;
    background-color: rgb(193, 156, 185);  
    color: black;
    text-align: center;
    vertical-align: top;
}

.header{
    width: 1000px;
    height: 100px;
    background-color: white;
    border: solid 1px black;
}

.header h1{
    display: inline-block;
    vertical-align: top;
    padding:0px 25px 0px 25px;
    margin: 25px 25px 50px 25px;

}

.header, p{
    display: inline-block;
    vertical-align: top right;
    margin: 25px 25px 50px 25px;
}


.border img {
    margin: 0px 0px 0px 50px;
    padding: 0px 0px 0px 20px;
    
}

 .columns{
     height: 300px;
    margin: 0px 0px 0px 0px;
}
 

h2 {
    margin:0px 0px;
    padding: 10px 10px 10px 10px;
    background-color: #5B5B5B;
    background-image:(#5B5B5B,white,#5B5B5B);
    color:white;
}

 p {
     
    
}



h3 {
    
    
    
    padding: 20px;
    background-color: #5B5B5B;
    background-image:(#5B5B5B,white);
    color:white;
}



.columns  {
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

.container2 {
    vertical-align: top;
}


.columns img {
    width:200px;
}

.columns .icons {
    width: 40px;
}

.columns .buttons {
    background-color: #387A6C; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 1px black;
    font-size: 16px;
}






